:root{
    --color-primario: rgb(155, 205, 255);
    --color-hover: rgb(118, 171, 225);

    --font-color: black;
    --font-size: 30px;
    
    --card-size: 100px;
}

.card {
    background-color: var(--color-primario);
    margin: 5px;
    height: var(--card-size);
    width: var(--card-size);
    border-radius: 9%;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 250ms cubic-bezier(0.4,0,0.2,1), transform 250ms cubic-bezier(0.4,0,0.2,1);
    will-change: background-color, transform;
    transform-origin: center;
}
.card:hover{
    background-color: var(--color-hover);
    cursor: pointer;

    transform: scale(1.02);
}

.title{
    text-align: center;
    color: var(--font-color);
    font-size: var(--font-size);
}